# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\WSY code files\blog-with-gridsome\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
